<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="$root$/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="$root$/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="194x194" href="$root$/images/favicon-194x194.png">
        <link rel="icon" type="image/png" sizes="192x192" href="$root$/images/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$root$/images/favicon-16x16.png">
        <link rel="manifest" href="$root$/images/site.webmanifest">
        <link rel="mask-icon" href="$root$/images/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#74dfcd">
        <meta name="msapplication-TileImage" content="$root$/images/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
        <!-- Search engine verification -->
        <meta name="google-site-verification" content="PtVSsNbHUZiIKmCTl_XmAhpsKNuaQynBo3s6NcvA4IA" />
        <meta name="yandex-verification" content="23d78fa93441542e" />
        <meta name="msvalidate.01" content="D584132B529EC5AF6250A7305A706FA0" />

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="Λerphanas Blog - $title$" />
        <meta property="og:url" content="$root$$if(url)$$url$$endif$" />
        <meta property="og:image" content="$root$/images/$if(image)$$image$$else$logo.png$endif$" />
        <meta property="og:description" content="$desc$" />
        <meta property="og:locale" content="id_ID" />
        <meta property="og:site_name" content="Λerphanas" />
        <meta property="og:type" content="website" />

        <!-- Twitter -->
        <meta name="twitter:title" content="Λerphanas Blog - $title$" />
        <!--<meta name="twitter:url" content="$root$" />-->
        <meta name="twitter:image" content="$root$/images/$if(image)$$image$$else$logo.png$endif$" />
        <meta name="twitter:description" content="$desc$" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@aerphanas" />
        <meta name="twitter:creator" content="@aerphanas" />

        <link rel="stylesheet" href="$root$/css/default.css" />
        <script src="https://kit.fontawesome.com/f96722f9f5.js" crossorigin="anonymous"></script>
        <title>Λerphanas Blog - $title$</title>
        <meta name="title" content="Λerphanas Blog - $title$" />
        <meta name="description" content="$desc$" />
        <meta name="author" content="aerphanas">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="$root$">Λerphanas</a>
            </div>
            <nav>
                <a href="$root$/etc/about.html">Tentang</a>
                <a href="$root$/archive.html">Arsip</a>
                <a href="$root$/atom.xml">Atom</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="license">
                <img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-sa/4.0/80x15.png" />
            </a>
            Dibuat Dengan <i class="fa-solid fa-heart fa-beat"></i> + 
            <a href="http://jaspervdj.be/hakyll" class="make">Hakyll</a>
        </footer>
    </body>
</html>
