<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="$desc$">
        <meta name="google-site-verification" content="PtVSsNbHUZiIKmCTl_XmAhpsKNuaQynBo3s6NcvA4IA" />
        <meta name="yandex-verification" content="23d78fa93441542e" />
        <meta name="msvalidate.01" content="D584132B529EC5AF6250A7305A706FA0" />
        <link rel="icon" href="/images/logo.png" type="image/icon type">
        <title>Λerphanas Blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Λerphanas</a>
            </div>
            <nav>
                <a href="/etc/about.html">Tentang</a>
                <a href="/archive.html">Arsip</a>
                <a href="/atom.xml">Atom</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="license">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
            </a>
            Dibuat Menggunakan
            <a href="http://jaspervdj.be/hakyll" class="make">Hakyll</a>
        </footer>
    </body>
</html>
