<article>
    <section class="header">
        diposting pada $date$
        $if(author)$
            oleh $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>
<br>
<details open>
    <summary>Comments</summary>
    <script src="https://utteranc.es/client.js"
    repo="aerphanas/aerphanas.github.io"
    issue-term="title"
    label="issues created by Utterances. "
    theme="github-light"
    crossorigin="anonymous"
    async>
</script>
</details>
<br>

