<article>
    <section class="header">
        $if(author)$
            oleh $author$
        $else$
            oleh Anonymous
        $endif$
	pada $date$
	<br>
	Bagikan ke: 
	<!-- twitter (url) -->
        <a href="https://twitter.com/share?url=$root$$url$&text=$title$&via=$author$" target="_blank">
	  Twitter
        </a>
	|
        <!-- Facebook (url) -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=$root$$url$" target="_blank">
	  Facebook
        </a>
	|
        <!-- LinkedIn (url, title, summary, source url) -->
        <a href="https://www.linkedin.com/shareArticle?url=$root$$url$&title=$title$&summary=$desc$" target="_blank">
	  LinkedIn
        </a>
    </section>
    <section>
        $body$
    </section>
</article>
