name: Zola build to gh branch

on: 
 push:
  branches:
   - main

jobs:
  build:
    name: Publish site
    runs-on: ubuntu-latest
    steps:
    - name: Checkout main
      uses: actions/checkout@v3.0.0
    - name: Build and deploy
      uses: shalzz/zola-deploy-action@v0.16.1
      env:
        PAGES_BRANCH: gh-pages
        CHECK_LINKS: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
